{% include 'layout.html' %}
<div class="container" style=" margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 12px; ">
    <div class="card" style="background-color:#76db91">
        <div class="card-header text-white display-4 text-center">
            <b>Login</b>
        </div>
        <div class="card-body">
            <form id="loginForm">
                <div class="form-group">
                    <label class="form-label text-white">Username</label>
                    <input type="text" class="form-control" name="username" autocomplete="username" required/>
                </div>
                  <div class="form-group text-white">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" autocomplete="password" required/>
                </div>
                <button type="submit" class="btn btn-outline-light">Login</button>
            </form>
        </div>
        <div class="card-footer">
           <a href="/auth/register-page" class="text-white">Register?</a>
        </div>
    </div>
</div>

