{% include 'layout.html' %}


<div class="container" style="
  border: 3px solid green;
  padding: 12px; ">
  <div class="card" style="background-color:#76db91">
    <div class="card-header text-white display-4 text-center">
      <b>Register</b>
    </div>
    <div class="card-body">
      <form id="registerForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="text-white form-label">Email</label>
            <input type="text" class="form-control" name="email" required>
          </div>
          <div class="form-group col-md-6">
            <label class="text-white form-label">Username</label>
            <input type="text" class="form-control" name="username" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="text-white form-label">First Name</label>
            <input type="text" class="form-control" name="firstname" required>
          </div>
          <div class="form-group col-md-6">
            <label class="text-white form-label">Last Name</label>
            <input type="text" class="form-control" name="lastname" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="text-white form-label">Role</label>
            <input type="text" class="form-control" name="role" required>
          </div>
        </div>
        <div class="form-group">
          <label class="text-white form-label">Password</label>
          <input type="password" class="form-control" name="password" autocomplete="new-password" required>
        </div>
        <div class="form-group">
          <label class="text-white form-label">Verify Password</label>
          <input type="password" class="form-control" name="password2" autocomplete="new-password" required>
        </div>
        <button type="submit" class="btn btn-outline-light">Sign in</button>
      </form>
    </div>
    <div class="card-footer text-muted">
      <a href="/auth/login-page" class="text-white">Already have an account?</a>
    </div>
  </div>
</div>







